{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mtlower">
    <h2 class="text-center">Contact Us</h2>
    <p class="text-center">Have questions? Send us a message, and we'll get back to you!</p>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST">
                {% csrf_token %}
                
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-black px-2 w-auto">Contact Information</legend>
                    
                    <!-- Render form fields using crispy-forms -->
                    {{ form.full_name|as_crispy_field }}
                    {{ form.email|as_crispy_field }}
                    {{ form.phone_number|as_crispy_field }}
                    {{ form.message|as_crispy_field }}
                    
                    <button type="submit" class="btn btn-primary w-100">Send Message</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}
